<h1>북마크 리스트 </h1>


{% for bookmark in object_list %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td><a href="{{bookmark.url}}">{{bookmark.site_name}}</a></td>
        <td><a href="{% url 'bookmark_update' pk=bookmark.id %}" class="btn btn-success btn-sm">Modify</a></td>
        <td><a href="{% url 'bookmark_delete' pk=bookmark.id %}" class="btn btn-danger btn-sm">Delete</a></td>
    </tr>
    <br>
    <hr>
{% endfor %}

<br> 
<a href ="{% url 'bookmark_create' %}" class = "btn btn-info">북마크 추가하기</a>