<h1>Q&A게시판 디테일 페이지</h1>

<p>작성자 : {{ qna.name }}</p>
<p>작성일 : {{qna.q_date}}</p>
<h3>{{ qna.question }}</h3> 

{% if qna.q_photo %}
    <img src = "{{qna.q_photo.url}}" width = "250" height = "250">
{% endif %}

{% for hashtag in qna.hashtags.all %}
     <span>{{ hashtag.name }}</span>
{% endfor %}

<hr>
<br>
<a href = "{% url 'q_edit' qna.id %}">수정하기</a>
<a href = "{% url 'q_delete' qna.id %}">삭제하기</a>
<br>
<hr>


<h4> 답변 </h4>

{% for answer in qna.answers.all %} 
    <p> {{ answer.name }} : {{ answer.text }} </p>
    
    {% if answer.a_photo %}
        <img src = "{{ answer.a_photo.url }}" width = "250" height = "250">
    {% endif %}
    <br> 

{% endfor %}

<form method = "POST" action="{% url 'q_detail' qna.id %}">
    {% csrf_token %}
    <p> {{ form.as_p }} </p>
    <input type = "submit" value= "submit">
</form>