<h1>Q&A게시판 목록 페이지</h1>

<!-- 검색 -->
<form  method="POST" action="{% url 'q_search' %}">
    {% csrf_token %}        
    <input type="search" placeholder="검색어를 입력해주세요" name="q_searched" aria-label="검색창">
    <button type="submit"> 검색 </button>
</form>

<!-- 정렬 -->
<form method="GET" action="{% url 'q_list' %}">
    <div class="col-4">
    <select name="q_sort" id="q_sort">
        <option value="q_date" id="q_date">최신순</option>
        <option value="q_clicks" id="q_clicks">조회수순</option>
    </select>
    <button class="btn btn-primary" type="submit" value="">정렬</button>
    </div>
</form>

<a href="{% url 'main' %}">홈</a>
<hr>

{% for qnaobj in qnaobj.all %} 
<h3>후기_제목 : <a href="{% url 'q_detail' qnaobj.id %}">{{qnaobj.question}}</a></h3>
<p>작성일자 : {{ qnaobj.q_date }}</p>
<p>작성자 : {{ qnaobj.nickname }}</p> 
{{ qna.q_update_counter }}
<p>조회수 : {{ qnaobj.q_clicks }}</p>
<p>추천수 : {{ qnaobj.q_likes }}</p><hr>
{% endfor %}

