{% load static %}

<html lang="ko">
<head>
        <meta charset="utf-8" />
</head>

{% block content %}
<body>
            {% if q_searched %}        
                    <h1> 검색하신 {{ q_searched }} 에 관한 정보입니다. </h1>
                    <br>
                    {% for Question in q_serobj %}      
                    <a href="{% url 'q_detail' Question.id %}">{{Question.question}}</a>
                    {{ Question.q_date }}
                    {{ Question.q_photo }}
                    {% if Question.q_photo %}
                    <img src = "{{ Question.q_photo.url }}" width = "250" height = "250" alt = "이미지 입니다."> 
                    <br>
                    {% endif %}
                    {% endfor %}
                    {% else %}       
                    <h1> 찾고 있는 검색어를 검색창에 입력해주세요. </h1>
            {% endif %}
  
    <!--검색-->
</body>
</html>
{% endblock %}