{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>머리뷰</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/mypage.css' %}">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <!--[if IE 7]>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome-ie7.min.css">
    <![endif]-->
</head>

<body>
    <nav class="navbar">
        <ul class="nav_menu">
            <li><a href="{% url 'main' %}"><img id="logo_leo" src="{% static 'img/mypage/logo2.png' %}"></a></li>
            <li class="nav_position" id="nav_part"><a class="nav_li" href="{% url 'r_list' %}">미용실 익명 리뷰</a></li>
            <li class="nav_position" id="nav_part"><a class="nav_li" href="{% url 'q_list' %}">헤어 Q&A</a></li>
            <li class="nav_position" id="nav_part"><a class="nav_li" href="{% url 'f_list' %}">자유게시판</a></li>
			<li class="nav_position" id="nav_part"><a class="nav_li" href="{% url 'h_list' %}">해시태그</a></li>
        </ul>

        <ul class="nav_user">
            {% if user.is_authenticated %}
            <h3> {{ user.username }}님 환영합니다.</h3>
            
            <a href="{% url 'logout' %}">로그아웃</a>
            <span> <a href="{% url 'mypage' user.username %}">{{user.username }}의 페이지</a></span>
            {% else %}
            <a href="{% url 'signup' %}">회원가입</a>
            <a href="{% url 'login' %}">로그인</a>
            {% endif %}
        </ul>
    </nav>
    {% block container %}
    <div>
        {% if people.profile.p_image %}
                <img src="{{ people.profile.p_image.url }}" width= 250, height = 250
                     alt="{{ people.profile.p_image}}">
                {% endif %}
        <h1> {{ people.username }}</h1>
        {% if user == people %}
        <div>
        <a href="{% url 'update' %}">계정정보수정</a>
        </div>
        {% endif %}
        <div>
            <h2>{{ people.profile.nickname }}</h2>
        </div>
        <div>
            {{ people.profile.introduction }}
        </div>
        <div>
            {% for cashbook in people.cashbook_set.all %}
            <div>
                <img src= "{{ cashbook.image_set.first.file.url }}" class="img-fluid"/>
            </div>
            {% endfor %}
        </div>
    </div>
    {% if user == people %}
        <div>
            <a href="{% url 'profile_edit' %}">프로필 수정</a>
            {% endif %}
    {% endblock %}
    <div class="mypage_layout">
        <img class="back_mypage" src="{% static 'img/mypage/background_mypage.png' %}">
    </div>
</body>

</html>
