{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
    <link rel="login logo" type="image/x-icon" href="{% static 'img/logo2.jpg' %}">
    <title>회원가입 페이지</title>
</head>

<body>
    <img class="back_signup" src="{% static 'img/account/logo4.png' %}">
    <div class="signup_container">
        <form method="POST" action="{% url 'signup' %">
            {% csrf_token %}
            <div class="div2">
                <label class="form_signup">{{ form.as_p }}</label>
            </div>
            <button class="signup_button" type="submit"> 회원가입 </button>
        </form>
    </div>
    <script href="{% static 'js/signup.js' %}"></script>
</body>

</html>