{% extends 'main.html' %} 

{%block content%}
<h1>회원가입 페이지</h1>
<form method = "POST" action= "{% url 'signup' %}">
        {% csrf_token %}
        사용자 이름 : <br>
        <input name = "username" type ="text">
        <br>
        닉네임 : <br>
        <input name = "nickname" type ="nickname">
        <br>
        비밀번호 : <br>
        <input name = "password1" type ="password">
        <br>
        비밀번호 확인 : <br>
        <input name = "password2" type ="password">
        <br>
        이메일 : <br>
        <input name = "email" type ="email">
        <br><br>
        <button type = "submit"> 회원가입하기 </button>
    </form>
{%endblock%}