<h1>자유게시판 목록 페이지</h1>
{% load static %} 
{% block content %} 
<form  method="POST" action="{% url 'f_search' %}">
    {% csrf_token %}        
    <input type="search" placeholder="검색어를 입력해주쇼" name="f_searched" aria-label="검색창">
    <button type="submit"> 검색 </button> 
{% for frees in frees.all %} 
<h2>제목 : <a href="{% url 'f_detail' frees.id %}">{{frees.p_title}}</a></h2>
<p>작성일자 : {{frees.p_date}}</p>
<p>조회수 : {{frees.p_clikes}}</p>
<p>추천수 : {{frees.p_likes}}</p><hr>
{% endfor %} 
{% endblock %}