{% extends 'main.html' %} 
{% block content %} 


<h1>리뷰게시판 목록 페이지</h1>
<!--정렬-->
    <form method="GET" action="{% url 'r_list' %}">
        <div class="col-4">
        <select name="sort" id="sort">
            <option value="r_date" id="r_date">최신순</option>
            <option value="r_clicks" id="r_clicks">조회수순</option>
        </select>
        <button class="btn btn-primary" type="submit" value="">정렬</button>
        </div>
    </form>
{% for blogs in blogs.all %} 
<h3>후기_제목 : <a href="{% url 'r_detail' blogs.id %}">{{blogs.r_title}}</a></h3>
<p>작성일자 : {{blogs.r_date}}</p>
<p>작성자 : {{blogs.r_nickname}}</p> 
<p>조회수 : {{blogs.r_clicks}}</p>

{% endfor %}
{% endblock %}

