{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>머리뷰</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <!--[if IE 7]>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome-ie7.min.css">
    <![endif]-->
</head>
    
<body>
    <nav class="navbar">
        <ul class="nav_menu">
            <li><a class="nav_li" id="nav_part" href="{% url 'main' %}"><img id="logo_leo" src="{% static 'img/list/logo4.png' %}"></a></li>
            <li><a class="nav_li" id="nav_part" href="{% url 'r_list' %}"><p id="list_now">미용실 익명 리뷰</p></a></li>
            <li><a class="nav_li" id="nav_part" href="">헤어 Q&A</a></li>
            <li><a class="nav_li" id="nav_part" href="">자유게시판</a></li>
			<li><a class="nav_li" id="nav_part" href="">해시태그</a></li>
        </ul>

        <ul class="nav_user">
            {% if user.is_active %}
            <li><a class="nav_li" id="nav_part" href="">{{ user.username }}</a></li>
            <li class="nav_li">/</li>
            <li><a class="nav_li" id="nav_part" href="">로그아웃</a></li>
            {% else %}
            <li><a class="nav_li" id="nav_part" href="">로그인</a></li>
            <li class="nav_li">/</li>
            <li><a class="nav_li" id="nav_part" href="">회원가입</a></li>
            {% endif %}
        </ul>
    </nav>

    <div class="list_layout">
        <div class="list_back">
            <div class="list_form">
                <form method="GET" action="{% url 'r_list' %}">
                    <div>
                        <select name="r_sort" id="r_sort">
                            <option value="r_date" id="r_date">최신순</option>
                            <option value="r_clicks" id="r_clicks">조회수순</option>
                        </select>
                        <button type="submit" value="">정렬</button>
                    </div>
                    <a type="submit" href="{% url 'q_write' %}"></a>
                </form>
            </div>
            <div class="list_table">
                <table>
                    <!--table에는 grid적용이 안되나봐-->
                    <thead id="list_thead">
                        <tr>
                            <th id="list_th">제목</th>
                            <th id="list_th">작성자</th>
                            <th id="list_th">작성일</th>
                            <th id="list_th">조회수</th>
                            <th id="list_th">추천수</th>
                        </tr>
                    </thead>
                    {% for reviews in reviews.all %}
                    <tbody>
                        <tr>
                            <td id="list_td">
                                <a style="text-decoration: none; color: rgb(111, 111, 111);"
                                    href="{% url 'r_detail' reviews.id %}">{{reviews.r_title}}
                                </a>
                            </td>
                            <td id="list_td">{{ reviews.name }}</td>
                            <td id="list_td">{{ reviews.r_date|date:'Y.m.d' }}</td>
                            <td id="list_td">{{ reviews.r_clips }}</td>
                            <td id="list_td">{{ reviews.r_likes }}</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>
</html>