<h1>리뷰게시판 목록 페이지</h1>

<!-- 검색 -->
<form  method="POST" action="{% url 'r_search' %}">
    {% csrf_token %}        
    <input type="search" placeholder="검색어를 입력해주세요" name="r_searched" aria-label="검색창">
    <button type="submit"> 검색 </button>
</form>

<!-- 정렬 -->
<form method="GET" action="{% url 'r_list' %}">
    <div class="col-4">
    <select name="sort" id="sort">
        <option value="r_date" id="r_date">최신순</option>
        <option value="r_clicks" id="r_clicks">조회수순</option>
    </select>
    <button class="btn btn-primary" type="submit" value="">정렬</button>
    </div>
</form>

{% for reviews in reviews.all %} 
<h3>후기_제목 : <a href="{% url 'r_detail' reviews.id %}">{{reviews.r_title}}</a></h3>
<p>작성일자 : {{reviews.r_date}}</p>
<p>작성자 : {{ reviews.name }}</p> 
{{review.r_update_counter}}
<p>조회수 : {{reviews.r_clicks}}</p>
<p>추천수 : {{reviews.r_likes}}</p><hr>
{% endfor %}

