@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Light';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

body {
    background-color:#E6DFD7;
    margin: 0;
    overflow-x: hidden;
}

.back_main {
    width: 100.2%; /*머리카락 여백 제거*/
    height: 50%;
    margin-bottom: 10vw;
}

.navbar_m {
    font-family: 'GangwonEdu_OTFBoldA';
    /* 스크롤 내려도 navbar상단 고정 */
    position: fixed;
    top: 0;
    /* 스크롤 내려도 navbar상단 고정 */
    padding-top: 0;
    margin-top: 0;
    width: 100%;
    background-color: #403964;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 5vw;
    z-index: 1000;
}

.nav_menu_m {
    grid-column: 2;
    display: flex;
    align-items: center;  /* 세로정렬 */
    justify-self: center;
    margin-right: 4vw;
	gap: 4.5vw;
}

.nav_user_m {
    grid-column: 3;
    display: flex;
    align-items: center;
	justify-content: center;
}

.nav_user_m li {
    margin-left: 1vw;
} /* 단어 간격 */

.nav_li_m {
    color: #E6DFD7;
    text-decoration: none;
    font-size: 1.6vw;
} /* 왜인지 부모요소에서 적용하면 안 먹어서... */

#nav_part_m:hover {
    color: #FFBA00;
}/* id로 하면 되고 class로 하면 왜 안 되지...? */

ul {
    list-style:none;
}

.main_top {
    display: grid;
    grid-template-columns: 1.3fr 2fr 1.3fr;
    grid-template-rows: 2.5fr 1fr;
    gap: 1.5vw;

    width: 100%; /* 포지션이 absolute인지라 한쪽으로 쏠리는 바람에 */
    position: absolute;
    top: 7vw; /* vw : 창의 가로넓이에 비례해서 반응 */
}

.main_logo {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-self: right;
    align-self: end;

    width: 47%;
    height: auto;
}

#main_sentence {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-self: end; /* 좌측 아래 */

    color: white;
    font-family: 'Pretendard-Regular';
    font-size: 2.5vw;
}

.main_search {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-self: center;

    height: 3.7vw;
    width: 100%;
    background-color: #8F87A7;
    border: 0;
    font-family: 'Pretendard-Regular';
    font-size: 2vw;
    color: #403964;
    border-radius: 0.5vw;
    padding: 0.3vw 1vw 0.3vw 4vw; /* pdding이든 margin이든 상우하좌로 시계방향 */
}

.main_search::placeholder{ /* 검색 유도 문구 */
    color: #403964;
}

#search_item {
    fill: #403964; /* svg 형식의 색을 채우는 방식 */
    position: absolute;
    width: 1.7vw;
    left: 27.2vw;
    top: 20.6vw;
}

#footer_img_main {
    width: 100%;
    height: auto;
    margin-bottom: -2%; /* 1. img와 p 태그 간의 공백을 없애기 위해 margin-bottom을 음수로 걸고 */
    padding: 0;
}

#footer_main {
    background-color: #8F87A7;
    text-align: center;
    padding: 1% 3% 3% 3%; /* 2. pdding-top만 0으로 두어 자연스럽게 세로 가운데 정렬한 것처럼 함 */
    font-family: 'GangwonEdu_OTFBoldA';
    color: #E6DFD7;
    font-size: 1vw;
    margin: 0;
}

.main_bottom {
    bottom: 0;
	z-index: 0;
} /* 중간에 내용이 없으니 footer인데 위로 올라와서 */

p {
    font-size: 20px;
	border-bottom: 1px solid #403964;
	font-family: 'GangwonEdu_OTFBoldA';
}

.summary {
    border: 1px solid #403964;
    border-radius: 2em;
    box-shadow: 5px 5px 5px #8F87A7;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
	margin-bottom: 7%;
	background-color: white;
	margin-right: 10vw;
	margin-left: 10vw;
    /* background-color: #8F87A7; */
}
