@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'GangwonEdu_OTFBoldA';
    background-image: url("logo4.png");
    background-color: #403964;
    color: white;
}

.signup_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 30%;
}

.back_signup {
    width: 40%;
    height: 100%;
    float: right;
    bottom: 0;
    margin-top: 10%;
}
/*
.div2 {
    margin-top: 10vh;
    border-bottom: 1px solid white;
}
.form_signup {
    margin-top: 10vh;
    border-bottom: 1px solid white;
}
*/
.signup {
    color: rgb(255, 255, 255);
}

#id_username, #id_password1, #id_password2, #id_phonenumber, #id_email, #id_username2 {
    background-color: #403964;
    border: none;
}

#id_username, #id_password1, #id_password2, #id_phonenumber, #id_email, #id_username2 {
    border-bottom: 1px solid white;
    color: white;
    padding: 1vh;
}
.clicked {
    border-bottom: 1px solid #FFBA00;
}

.signup_button {
    font-family: 'Pretendard-Regular';
    background-color: #8F87A7;
    width: 100%;
    height: 2rem;
    color: white;
    border: none;
    border-radius: 10px;
}