<h1>메인페이지</h1>

{% if user.is_active %} 
    <div>{{ user.username }} 님 환영합니다 </div>
    <a href="{% url 'logout' %}">로그아웃</a>
{% else %}
    <a href="{% url 'login' %}">로그인</a>
    <a href="{% url 'signup' %}">회원가입 </a>
{% endif %}
<a href="{% url 'mypage' %}">마이페이지</a>

<hr>

<h3>검색하기</h3>
<form  method="POST" action="{% url 'm_search' %}">
    {% csrf_token %}        
    <input type="m_search" placeholder="Search" name="m_searched" aria-label="mainSearch">
    <button type="submit"> 검색 </button>
</form>

<hr>

<h3>해시태그</h3>
<a href="{% url 'hashtag' %}">해시태그 추가하기</a>
<a href="{% url 'h_list' %}">해시태그 목록</a>

<hr>

<h3>북마크</h3>
<a href="{% url 'bookmark_create' %}">북마크 추가하기</a>
<a href="{% url 'bookmark_list' %}">북마크 목록</a>

<hr>

<h3>리뷰게시판</h3> 
<a href="{% url 'r_write' %}">리뷰 게시판 작성하기</a> <br>
<a href="{% url 'r_list' %}">리뷰 게시판 목록</a> <br>

<h4>리뷰 게시글 요약</h4> 
{% for reviews in reviews.all %} 
    <h7>후기제목: <a href="{% url 'r_detail' reviews.id %}">{{reviews.r_summary}}...more</a></h7>
    <a>작성일자 : {{reviews.r_date}}</a><br>
{% endfor %}


<hr>

<h3>QnA게시판</h3> 
<a href="{% url 'q_write' %}">QnA 게시판 작성하기</a> <br>
<a href="{% url 'q_list' %}">QnA 게시판 목록</a> <br>

<h4>QnA 게시글 요약</h4> 
{% for qnaobj in qnaobj.all %} 
    <h7>QnA_제목 : <a href="{% url 'q_detail' qnaobj.id %}">{{qnaobj.q_summary}}...more</a></h7>
    <a>작성일자 : {{ qnaobj.q_date }}</a><br>
{% endfor %}

<hr>

<h3>자유게시판</h3> 
<a href="{% url 'f_write' %}">자유 게시판 작성하기</a> <br>
<a href="{% url 'f_list' %}">자유 게시판 목록</a> <br>

<h4>자유 게시글 요약</h4>
{% for frees in frees.all %} 
    <h7>제목 : <a href="{% url 'f_detail' frees.id %}">{{frees.p_summary}}...more</a></h7>
    <a>작성일자 :  {{frees.p_date}}</a><br>
{% endfor %}