<h1>메인페이지</h1>

{% if request.user.is_authenticated %} 
    <div>{{ user.name }}님 환영합니다 </div>
    <a href="{% url 'logout' %}">로그아웃</a>
{% else %}
    <a href="{% url 'login' %}">로그인</a>
    <a href="{% url 'signup' %}">회원가입 </a>
{% endif %}

<a href="{% url 'login' %}">로그인</a>
<a href="{% url 'signup' %}">회원가입 </a>

<hr>
<form  method="POST" action="{% url 'm_search' %}">
    {% csrf_token %}        
    <input type="m_search" placeholder="Search" name="m_searched" aria-label="mainSearch">
    <button type="submit"> 검색 </button>
</form>

<h3>해시태그</h3>
<a href="{% url 'hashtag' %}">해시태그 추가하기</a>

<hr>

<h3>리뷰게시판</h3> 
<a href="{% url 'r_write' %}">리뷰 게시판 작성하기</a> <br>
<a href="{% url 'r_list' %}">리뷰 게시판 목록</a> <br>

<hr>

<h3>QnA게시판</h3> 
<a href="{% url 'q_write' %}">QnA 게시판 작성하기</a> <br>
<a href="{% url 'q_list' %}">QnA 게시판 목록</a> <br>

<hr>

<h3>자유게시판</h3> 
<a href="{% url 'f_write' %}">자유 게시판 작성하기</a> <br>
<a href="{% url 'f_list' %}">자유 게시판 목록</a> <br>

