{% load static %} 
    {% block content %} 
<h1>메인페이지</h1>
{% if user.is_active %} 
<a> {{ user.username }} 님 환영합니다</a>
<a href="{% url 'logout' %}">로그아웃</a>
{% else %} 
<a href="{% url 'login' %}">로그인</a>
<a href="{% url 'signup' %}">회원가입 </a>
{% endif %}
<a href="{% url 'f_write' %}">자유게시판 작성하기</a>
<a href="{% url 'f_list' %}">자유게시판 목록</a>
<a href="{% url 'f_hashtag' %}">자유게시판 hashtag</a>
<br>
<a href="{% url 'r_write' %}">리뷰게시판 작성하기</a>
<a href="{% url 'r_list' %}">리뷰게시판 목록</a>
<a href="{% url 'r_hashtag' %}">자유게시판 hashtag</a>
<a href="{% url 'bookmark_list' %}">북마크</a>

{% endblock %}